<div>
        <h1>WELCOME TO PROFILE</h1>
        <form>
        USERNAME:<input type="text" ng-model="username"/><br><br>
        PASSWORD:<input type="text" ng-model="password"/><br><br>
        FIRSTNAME:<input type="text" ng-model="firstname"/><br><br>
        LASTNAME:<input type="text" ng-model="lastname"/><br><br>
        EMAIL:<input type="text" ng-model="email"/><br><br>
        LOCATION:<input type="text" ng-model="location"/><br><br>
        PHONE:<input type="text" ng-model="phone"/><br><br>

        <input type="button" value="UpdateInfo" ng-click="update()"/>
        </form>
    </div>