<h1>Please Register</h1>
<form>
	Username:<input type="text" ng-model="uname"  placeholder="username" required> <br> <br>
	Password:<input type="text" ng-model="pwd" placeholder="password" required> <br> <br>
	Firstname:<input type="text" ng-model="fname" placeholder="name" required> <br> <br>
	Lastname:<input type="text" ng-model="lname" placeholder="name" required> <br> <br>
	Email:<input type="email" ng-model="email" placeholder="email" required> <br> <br>
	Phone:<input type="number" ng-model="num" placeholder="999999999" required> <br> <br>
	Location:<input type="text" ng-model="loc" placeholder="location" required> <br> <br>
	<input type="button" ng-click="register()" value="SignUp"> <br> <br>
</form>